@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-chirp-extended: "TwitterChirpExtendedHeavy";
}

@font-face {
  font-family: "TwitterChirpExtendedHeavy";
  src: url("../../public/fonts/chirp-extended-heavy-web.ttf");
}
